body{
   background-color: lightskyblue; 
    
}
header {
    color:darkblue;
    background: lightgreen;
    font-family:Arial, Helvetica, sans-serif;
    font-size:45px;
    background-image: url('../images/bannerColegio.jpg');
    height: 140px;
    text-align: center;
    }
    
nav{
    background-color:gold;
    color: purple;
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
}
footer{
    font-family: fantasy;
    color:whitesmoke;
    font-size:25px;
    background-color:darkslategray;
    text-align: center;
    height:auto;

}
section{
    font-family: fantasy;
    color:lightskyblue; 
    font-size:45px;
    background-color:darkslategray;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#izquierdo{
    width: 50%;
    float: left;
    height:auto;
    font-size:25px;
    color:yellow;
}
#derecho{
    width: 50%;
    float: right;
    height:auto;
    font-size:25px;
    color:blue;
}
