body{
 /*   background-color: lightskyblue;  */
    
}
header {
    color:darkblue;
    background: lightgreen;
    font-family:Arial, Helvetica, sans-serif;
    font-size:45px;
    background-image: url('../images/bannerColegio.jpg');
    height: 140px;
    text-align: center;
    }
    
nav{
    background-color:gold;
    color: purple;
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
}
footer{
    font-family: fantasy;
    color:whitesmoke;
    font-size:25px;
    background-color:darkslategray;
    text-align: center;

}
section{
    font-family: fantasy;
    color:lightskyblue; 
    font-size:45px;
    background-color:darkslategray;
    text-align: center;

}
aside{
    width: 45%;
    color:yellow;
}
article{
    color:red;
    width: 45%;
}